* {
  box-sizing: border-box;
  padding: 0px;
  /* this seems like a bad idea ... */
  margin: 8px;
}

:root {
  --mar-01: 8px;
  --mar-02: 16px;
  --mar-03: 32px;

  --bor-01: 2px;

  --c-01: black;
  --c-02: white;

  --bg-02: aquamarine;
}

body.-dark {
  --c-01: rgb(255, 255, 255);
  --c-02: rgb(17, 17, 17);

  --bg-02: rgb(255, 127, 197);
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  background-color: var(--c-02);
}

main {
  display: block;
  width: 100%;
}

header {
  padding: var(--mar-03);
  margin: 0px;
}

#name {
  padding: var(--mar-01);
  margin: var(--mar-01);

  background-color: var(--bg-02);

  font-weight: bolder;
  color: var(--c-01);
}

#tag {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--c-01);
}

.links-p {
  text-decoration-line: none;

  color: var(--c-01);
  font-weight: bolder;
  font-size: 40pt;
}

button {
  padding: 0px;
  margin: 0px;

  justify-content: center;

  border-style: none;

  background-color: var(--c-02);
  color: var(--bg-02);
}

button:hover {
  background-color: var(--bg-02);

  border-style: none;
}

.portfolio-menu {
  padding: var(--mar-02);

  color: var(--c-01);
}

.portfolio-tittle {
  padding: var(--mar-01);

  justify-content: center;

  font-size: 22pt;
  font-weight: bold;

  color: var(--c-01);
}

.portfolio-text {
  padding: var(--mar-02);

  text-align: justify;

  color: var(--c-01);

  justify-content: center;
  align-items: center;

  color: var(--c-01);
}

#gallery {
  width: 100%;
  padding: var(--mar-03);
}

#gallery .images {
  position: relative;
}

.gallery-img {
  width: 100%;
  height: auto;
  display: block;
  top: 0;
  left: 0;
  transition: opacity 3s;
}

footer.social-media {
  padding: var(--mar-01);
  margin: var(--mar-01);

  justify-content: space-between;
  align-items: center;
}

.sm-tittle {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--c-01);
}
